* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  margin: 0; 
  padding: 0;
  /* overflow: hidden;  */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.space {
  position: relative;
  overflow: hidden; 
  width: 640px;
  height: 540px;
  background-image: url("../pixple/img/green-carpet-texture.jpg");
  z-index: 100;
}
.walkImg {
  width: 62px;
  height: 52px;
  position: absolute; /* 절대 위치 지정 */
  z-index: 101;
}
.wall {
}
.door {
  width: 8px;
  height: 60px;
  background-color: burlywood;
  /* overflow: hidden; */
  position: absolute;
  box-shadow: 0 0  7px  3px gray;
  z-index: 101;
}

.monster {
  position: absolute; /* 절대 위치 설정 */
  width: 48px; /* 이미지 크기 */
  height: 48px; /* 이미지 크기 */
  z-index: 101;
}
.street {
  background-color: burlywood;
  z-index: 100;
  position: relative; 
}