* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  background-color: antiquewhite;
}
.space {
  position: relative;
  overflow: hidden; 
  width: 700px;
  height: 600px;
  background-color: aquamarine;
  margin: 0 auto;
}
#walkImg {
  width: 54px;
  height: 54px;
  position: absolute; /* 절대 위치 지정 */
  top: 50%;
  left: 50%;
}