.wall01 {
  position: absolute; 
  width: 100px; 
  height: 200px; 
  left: 300px;
}
.wall02 {
  position: absolute; 
  width: 100px; 
  height: 200px; 
  left: 300px;
  bottom: 0;
}
.doorRight {
  top: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: right;
}
