.wall01 {
  position: absolute; 
  width: 200px; 
  height: 80px; 
  left: 300px;
}
.wall02 {
  position: absolute; 
  width: 500px; 
  height: 300px; 
  left: 50px;
  bottom: 0;

}
.door01 {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  float: left;
  top: 100px;
}